# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These users are the default owners for everything in the repo.
* @oualabadmins       oualabadmins@microsoft.com
* @kelleyvice-msft    kvice@microsoft.com
* @JoeDavies-MSFT     josephd@microsoft.com
